@import "variables.scss";


//声明混合宏
@mixin content-box {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  //规定背景的绘制区域： border-box背景被裁剪到边框盒。	padding-box	背景被裁剪到内边距框。	content-box	背景被裁剪到内容框。
  background-clip: padding-box;
  padding: 35px;
  background: #fff;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

  ////滚动条的宽度 -- 这边交给全局reset.css中去设置了
  //::-webkit-scrollbar {
  //  width: 10px;
  //  height: 10px;
  //}
  ////滚动条的滑块
  //::-webkit-scrollbar-thumb {
  //  background-color: #dddee0;
  //  border-radius: 5px;
  //}

  .first-title {
    color: #303133;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }

  i.active {
    color: #409EFF;
  }
}

//自定义表单控件样式1
.form-item-single1 {
  width: 250px;
  border: 1px solid #DCDFE6;
  display: inline-block;
  padding: 1px;
  border-radius: 4px;

  label {
    text-align: left;
    padding-left: 15px;
    width: 100%;
  }

  input {
    border: 0;
  }
}

//自定义左侧菜单的全局样式 -- 修改elementUI的默认样式
.el-menu-item {
  &.is-active {
    background-color: #f56c6c !important;
    color: #fff !important;
  }

  i {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }

  .svg-icon {
    margin-right: 5px;
    font-size: 18px;
  }
}

//菜单激活时候展开和收起时候的样式
.el-submenu {
  &.is-active:not(.is-opened) {
    div {
      background-color: #f56c6c !important;
      color: #fff !important;
    }
  }
}

.dangerColor {
  color: #F56C6C
}

// 设置文本编辑器的默认高度
.ql-editor {
  height: 360px;
}

//el-upload上传图标的大小
.el-upload--picture-card {
  width: 65px;
  height: 65px;
  line-height: 65px;

  i {
    //z-index: 99;
    font-size: 20px;
  }
}

.el-upload-list--picture-card {
  .el-upload-list__item-status-label {
    right: -7px;
    top: -3px;
    width: 20px;
    height: 12px;

    i {
      font-size: 6px;
      top: 2px;
      right: 6px;
      position: absolute;
      margin-top: 0;
    }
  }

  li {
    width: 65px !important;
    height: 65px !important;
    line-height: 65px !important;
  }

}

// 上传图片后不显示上传的按钮了
.hide .el-upload--picture-card {
  display: none;
}
